<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086274562041-0p112sd6pdse7c19404q1kv15r4huo1a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086274562041-0p112sd6pdse7c19404q1kv15r4huo1a</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1086274562041-5k3m7mcjk22m7o8q8r15f61a7qmlq700.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCCsVLytG9pXNo0uToP64mSqzDot8MHMeM</string>
	<key>GCM_SENDER_ID</key>
	<string>1086274562041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kimdane.flutterMobileSample</string>
	<key>PROJECT_ID</key>
	<string>flutter-mobile-sample-9c35b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-mobile-sample-9c35b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086274562041:ios:e2871eaa26a7429133bf28</string>
</dict>
</plist>